<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
</head>

<div class="container">
    <h1>Welcome! {{ username1 }} and {{username2}}</h1>
    <h1>Tic-Tac-Toe</h1>
    <div class="play-area">
        <table>
            <tr>
                <td><div id="block_0" class="block"></div></td>
                <td><div id="block_1" class="block"></div></td>
                <td><div id="block_2" class="block"></div></td>
            </tr>
            <tr>
                <td><div id="block_3" class="block"></div></td>
                <td><div id="block_4" class="block"></div></td>
                <td><div id="block_5" class="block"></div></td>
            </tr>
            <tr>
                <td><div id="block_6" class="block"></div></td>
                <td><div id="block_7" class="block"></div></td>
                <td><div id="block_8" class="block"></div></td>
            </tr>
        </table>  
    </div>
  </div>